/*/ Set the body base/*/
body {
background-color: #111111;
}
/*/Controle the search bar title style/*/
p {
font-size: 30px;
font-weight: bold;
}
/*/ the base Grid container/*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #111111;
  padding: 10px;
}
/*/ Each block in the grid/*/
.grid-item {
  background-color: #111111;
  border: #111111;
  padding: 20px;
  font-size: 20px;
  font-family: Arial;
  text-align: center;
  color: white;
}
/*/Search button style/*/
.button {
  background-color: #770a0a; /* go */
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  height:42px;
}
.btngo {
	background-color: #770a0a;
	color: white;
    border: 1px solid white;
}
.btngo:hover {
  background-color: #7b3737; 
  color: white; 
  border: 1px solid #770a0a;
}

/*/Search box Style*/
input[type=search], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
